html, body {
    width:100%;
    margin:0;
    padding:0;
}

table.title {
	width: 100%;
	margin-bottom: 10px;
	font-size: 12px;
	table-layout:fixed;
	border-collapse:collapse;
	/*border: 1px solid gray;*/
}

table.title tr.row1 {
	height: 40px;
	//font-weight: bold;
	font-size: 22px;
    font-family:latoLight;

}

table.title tr.row2 {
	height: 30px;
	font-size: 13px;
	background-color: #f57516;
    color:white;
    //font-weight: normal;

	text-align: center;
    font-family:latoLight;

}

table.title td.column1 {
	width: 10%;
}

table.title td.column2 {
	width: 80%;
	text-align: center;
}

table.title td.column3 {
	width: 10%;
}

table.tally {
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	table-layout:fixed;
	/*border-collapse:collapse;*/
	/*border: 1px solid gray;*/
}

table.tally tr.row1 {
	height: 80px;
	font-size: 22px;
    font-family:latoBold;

}

table.tally tr.row2 {
	height: 10px;
	font-size: 22px;
    font-family:latoBold;

}

table.tally tr.row3 {
	height: 100px;
	text-align: center;
}

table.tally td.column1 {
	width: 5%;
}

table.tally td.column2 {
	width: 40%;
}

table.tally td.column3 {
	width: 45%;
    text-align: right;
}

table.tally td.column4 {
	width: 10%;
}

div.back {
	color: orange;
}

div.confirm {
	color: #05a842;
	font-size: 16px;
    font-family:latoBold;

	border:1px solid #05a842;
    border-radius:4px;
	width: 170px;
    height: 40px;
    line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.finalMessage{
	text-align:center;
	font-family:latoLight;

}
div.addCard {
	color: #05a842;
	font-size: 16px;
    font-family:latoBold;

	border:1px solid #05a842;
    border-radius:4px;
	width: 170px;
    height: 40px;
    line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input.cardNumber{

	font-size: 20px;
    font-family:latoLight;
    width: 235px;
    border-radius:4px;
    padding: 3px 3px;
}

input.expirationDate{

	font-size: 20px;
    font-family:latoLight;
    width: 110px;
    border-radius:4px;
    padding: 3px 3px;

}

input.ccv{

	font-size: 20px;
    font-family:latoLight;
    width: 110px;
    border-radius:4px;
    padding: 3px 3px;

}


div.cardInfo
{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}





@font-face {
  font-family: latoBold;
  src: url("Lato-Bol.ttf");

  }
  
  @font-face {
  font-family: latoLight;
  src: url("Lato-Lig.ttf");

  }





